extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagennosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque augue, faucibus a tempus et, convallis eget lacus. Nunc quis ex bibendum, tristique leo at, tempor diam. Donec lobortis ultricies venenatis. 

                p Aliquam eu neque non elit cursus cursus. Proin rhoncus, erat a pulvinar convallis, odio elit feugiat lorem, a sagittis turpis metus aliquet sem. Proin tincidunt justo neque, id cursus ipsum rutrum sit amet. Phasellus eu quam augue. Fusce velit est, consequat pharetra vulputate a, fringilla eget lorem.

                p Integer tincidunt vestibulum nisi, at dignissim velit porttitor quis. Aenean egestas ultricies felis, non consectetur leo vulputate non. Fusce sed nisi sagittis augue pulvinar tincidunt. Duis posuere ligula id ipsum egestas tempor. Fusce consectetur diam et ante condimentum aliquam. Donec iaculis dolor feugiat mauris tristique, non facilisis justo malesuada. Donec quis est vitae nisi lobortis finibus.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="seguridadicono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Donec iaculis dolor feugiat mauris tristique, non facilisis justo malesuada. Donec quis est vitae nisi lobortis finibus.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="destinosicono", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Donec iaculis dolor feugiat mauris tristique, non facilisis justo malesuada. Donec quis est vitae nisi lobortis finibus.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="precioicono", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Donec iaculis dolor feugiat mauris tristique, non facilisis justo malesuada. Donec quis est vitae nisi lobortis finibus.